<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>some website</title>
</head>
<body style="background-color:powderblue">
    {{> header }}
    <p>Some text here</p>
   {{> footer}}
   
</body>
</html>
