<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Practice</title>
</head>

<body style="background-color:seagreen">
     <a href="https://www.hackerrank.com/dashboard" target="_blank">Practice On Hackerrank</a>
</body>
</html>
